<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.searcher.booksearch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_booksearch"
        android:label="Book\nSearch"
        android:roundIcon="@mipmap/ic_launcher_booksearch_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.searcher.booksearch.bookinfo_more_activity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"></activity>
        <activity android:name="com.searcher.booksearch.ScanBarcode" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity android:name="com.searcher.booksearch.Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.searcher.booksearch.Login" />
        <activity android:name="com.searcher.booksearch.SelectMenu" />
        <activity android:name="com.searcher.booksearch.MyBookList" />
        <activity android:name="com.searcher.booksearch.SearchInBookList" />
    </application>

</manifest>